Screen{
    background: rgb(229,231,235);
}

.centered{
    align: center middle;
}

.checkbox-container {
    width: auto;
    height: auto;
    border: solid $primary;
    background: $panel;
    padding: 2;
}
