.text-black{
    color: rgb(0,0,0);
}
.text-white{
    color: rgb(255,255,255);
}
.bg-white{
    background: rgb(255,255,255);
}
.text-gray-100{
    color: rgb(243,244,246);
}
.bg-gray-200{
    background: rgb(229,231,235);
}
.border-hkey-gray-400{
    border: hkey rgb(156,163,175);
}
.text-gray-500{
    color: rgb(107,114,128);
}
.bg-gray-500{
    background: rgb(107,114,128);
}
.border-hkey-gray-600{
    border: hkey rgb(75,85,99);
}
.border-r-tall-gray-600{
    border-right: tall rgb(75,85,99);
}
.border-hkey-red-600{
    border: hkey rgb(220,38,38);
}
.border-hkey-green-600{
    border: hkey rgb(22,163,74);
}
.border-t-tall-purple-100{
    border-top: tall rgb(243,232,255);
}
.bg-purple-600{
    background: rgb(147,51,234);
}
.border-b-tall-purple-900{
    border-bottom: tall rgb(88,28,135);
}
.text-center{
    text-align: center;
}
.m-1{
    margin: 1;
}
.p-1{
    padding: 1;
}
.pb-1{
    padding-bottom: 1;
}
.mx-3{
    margin-left: 3;
    margin-right: 3
}
.h-4{
    height: 4;
}
.w-25{
    width: 25;
}
.h-auto{
    height: auto;
}
.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.dock-top{
    dock: top;
}
.dock-bottom{
    dock: bottom;
}
.dock-left{
    dock: left;
}
.bold{
    text-style: bold;
}
